In [83]:
# Importing Libraries
import pandas as pd

In [84]:
# Adjusting pandas dataframe settings
pd.set_option('display.max_columns', 500)

In [85]:
# Reading Dataframes
books = pd.read_csv("../input/book-recommendation-dataset/Books.csv", low_memory='False')
ratings = pd.read_csv('../input/book-recommendation-dataset/Ratings.csv', low_memory='False')
users = pd.read_csv("../input/book-recommendation-dataset/Users.csv", low_memory='False')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [86]:
# Merging Dataframes
temp_df = books.merge(ratings, how='left', on='ISBN')
final_df = temp_df.merge(users, how='left', on='User-ID')
final_df.shape

(1032345, 12)

In [87]:
# Data Preprocessing
final_df.drop(['Image-URL-S', 'Image-URL-M','Image-URL-L'], axis=1, inplace=True)
final_df.dropna(inplace=True)

final_df['User-ID'] = final_df['User-ID'].astype('int')
final_df=final_df[final_df["Book-Rating"]>0]

In [88]:
# Analysis of Data

final_df.columns
final_df['User-ID'].nunique() # 40543 unique Readers
final_df['ISBN'].nunique() # 119945 unique ISBN number (books)
final_df['Book-Title'].nunique() # 109210 unique Books.
final_df['Book-Author'].nunique() # 50883 unique Author.
final_df['Publisher'].nunique() # 9749 unique Publisher.
final_df['Book-Rating'].nunique() # 10 unique Rating (1-10).

final_df.groupby('User-ID')['Book-Title'].agg('count').sort_values(ascending=False)

User-ID
98391     5689
153662    1845
235105    1020
171118     962
16795      959
          ...
120886       1
120862       1
120861       1
120852       1
278852       1
Name: Book-Title, Length: 40543, dtype: int64

In [89]:
final_df.groupby('Book-Author')['ISBN'].agg('count').sort_values(ascending=False)

Book-Author
Stephen King         3488
Nora Roberts         2138
John Grisham         1670
James Patterson      1559
J. K. Rowling        1375
                     ...
James Hawkins           1
James Henry Gray        1
James Henry Rubin       1
James Hoffman           1
Ã?Â?pictÃ?Â¨te          1
Name: ISBN, Length: 50883, dtype: int64

In [90]:
final_df.groupby('ISBN').agg({'Book-Title':'count'}).sort_values(by='Book-Title',ascending=False).head(100)

            Book-Title
ISBN
0971880107         473
0316666343         473
0385504209         373
0312195516         227
059035342X         224
...                ...
0385492081          82
0385486804          82
0449212602          81
0375700757          80
0312305060          80

[100 rows x 1 columns]

In [91]:
final_df.groupby('User-ID')['Book-Rating'].agg('count').sort_values(ascending=False)

User-ID
98391     5689
153662    1845
235105    1020
171118     962
16795      959
          ...
120886       1
120862       1
120861       1
120852       1
278852       1
Name: Book-Rating, Length: 40543, dtype: int64

In [92]:
# We can calculate the ratings of the books and eliminate the rare books by determining a threshold which is 85 in this case by removing the main dataframe.
# Finally, we have common books which are rated more than 85.
rating_book = pd.DataFrame(final_df['Book-Title'].value_counts())
final_df['Book-Title'].value_counts().mean() # 2.4688

rare_books = rating_book[rating_book['Book-Title'] <= 85].index

common_books = final_df[~final_df["Book-Title"].isin(rare_books)]
common_books['Book-Title'].value_counts().mean() # 139.6589

139.65891472868216

In [93]:
# Creating User-Item Matrix Dataframe
user_book_matrix = common_books.pivot_table(index=['User-ID'], columns=['Book-Title'], values='Book-Rating')
user_book_matrix.shape

(8742, 129)

In [94]:
# If the correlations are quite similar, that means these books are similar.
book_name = 'Interview with the Vampire'

def book_to_ISBN(name):
    """
    This function gives us the ISBN number of the book for the name of the book which you want to learn ISBN number.
    :param name: the name of the book
    :return: ISBN; the books are identified by their respective ISBN
    """
    ISBN = final_df[final_df['Book-Title'] == name][['ISBN']].iloc[0,0]
    return ISBN

ISBN_no = book_to_ISBN(book_name)

book_df = user_book_matrix[book_name]
book_df.sort_values(ascending=False)

User-ID
259452    10.0
104399    10.0
222062    10.0
223190    10.0
223325    10.0
          ...
278800     NaN
278836     NaN
278843     NaN
278844     NaN
278846     NaN
Name: Interview with the Vampire, Length: 8742, dtype: float64

In [95]:
# Let's look at the correlations between books with selected book and sort the best.
similar_to_book_name = user_book_matrix.corrwith(book_df)

corr_book_name = pd.DataFrame(similar_to_book_name, columns=['Correlation'])
corr_book_name.dropna(inplace=True)
corr_book_name.sort_values(by='Correlation',ascending=False).head(50)

/opt/conda/lib/python3.7/site-packages/numpy/lib/function_base.py:2634: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/opt/conda/lib/python3.7/site-packages/numpy/lib/function_base.py:2493: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                                    Correlation
Book-Title
She's Come Undone (Oprah's Book Club (Paperback))      1.000000
The Beach House                                        1.000000
The Golden Compass (His Dark Materials, Book 1)        1.000000
Suzanne's Diary for Nicholas                           1.000000
1st to Die: A Novel                                    1.000000
Neverwhere                                             1.000000
While I Was Gone                                       1.000000
ANGELA'S ASHES                                         1.000000
The Reader                                             1.000000
Interview with the Vampire                             1.000000
How to Be Good                                         0.943880
Dreamcatcher                                           0.908002
Bridget Jones's Diary                                  0.887412
Dolores Claiborne                                      0.878478
Misery                                                 0.867083
Wicked: The Life and Times of the Wicked Witch ...     0.790569
Wild Animus                                            0.781736
Harry Potter and the Sorcerer's Stone (Book 1)         0.766294
The No. 1 Ladies' Detective Agency (Today Show ...     0.755929
The Hobbit : The Enchanting Prelude to The Lord...     0.755929
The Testament                                          0.749480
The Divine Secrets of the Ya-Ya Sisterhood: A N...     0.720577
The Secret Life of Bees                                0.707107
Lord of the Flies                                      0.686946
Snow Falling on Cedars                                 0.649122
High Fidelity                                          0.649113
The Bridges of Madison County                          0.648074
The Fellowship of the Ring (The Lord of the Rin...     0.638531
The Summons                                            0.631169
Girl with a Pearl Earring                              0.603251
Harry Potter and the Prisoner of Azkaban (Book 3)      0.579659
The Horse Whisperer                                    0.571662
The Vampire Lestat (Vampire Chronicles, Book II)       0.570892
The Brethren                                           0.564320
Into Thin Air : A Personal Account of the Mt. E...     0.500000
The Nanny Diaries: A Novel                             0.500000
Message in a Bottle                                    0.500000
Where the Heart Is (Oprah's Book Club (Paperback))     0.489906
The Joy Luck Club                                      0.483887
The Lovely Bones: A Novel                              0.473432
Harry Potter and the Order of the Phoenix (Book 5)     0.463746
Harry Potter and the Goblet of Fire (Book 4)           0.411938
Watership Down                                         0.401610
The Hitchhiker's Guide to the Galaxy                   0.380228
The Poisonwood Bible: A Novel                          0.367194
The Firm                                               0.362508
The Bonesetter's Daughter                              0.342997
The Red Tent (Bestselling Backlist)                    0.332182
The Da Vinci Code                                      0.322652
Little Altars Everywhere: A Novel                      0.322329

In [96]:
# Creating recommendation list.
recommended_list = corr_book_name.reset_index().sort_values(by=('Correlation'),ascending=False)['Book-Title'].head(10).to_list()
recommended_list

["She's Come Undone (Oprah's Book Club (Paperback))",
 'The Beach House',
 'The Golden Compass (His Dark Materials, Book 1)',
 "Suzanne's Diary for Nicholas",
 '1st to Die: A Novel',
 'Neverwhere',
 'While I Was Gone',
 "ANGELA'S ASHES",
 'The Reader',
 'Interview with the Vampire']